.book-details {
    border: none;
    border-radius: 10px;
    width: 300px;
    margin-inline: auto;
    padding: 10px;
    background-color: var(--clrbg);

    box-shadow: 0px 0px 0px 100vh rgb(153, 153, 153, 0.5);
    font-family: calibri;

    margin-block: 20px;
    position: absolute;
    top: 100px;
    left: 50vw;
    transform: translateX(-50%);
}

.book-details .title,
.book-details .price {
    font-weight: bold;
    align-self: center;
    font-size: 1.2rem;
}

.book-details .title:not(span) {
    text-transform: uppercase;
}

.book-details button {
    align-self: end;
}

.book-details h1,
.book-details h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}

.book-details h1 {
    margin-block-end: 10px;
}

.book-details span:not(.price-amount) {
    color: var(--clrtxt);
    font-size: 0.8rem;
    font-style: italic;
}

.book-details li {
    display: inline;
    font-size: 0.9rem;
}

.book-details .authors li {
    font-size: 1rem;
    font-weight: bold;
    color: brown;
}

.book-details .authors,
.book-details .categories {
    padding: 0;
    margin: 0;
    margin-block-end: 10px;
}

span.red {
    color: red
}

span.green {
    color: green
}

.book-details h1.on-sale {
    color: firebrick;
    font-weight: bold;
    align-self: center;
    text-transform: uppercase;
    background-color: blanchedalmond;
}

.book-details .read-more {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.book-details p {
    margin-block: 0;
    font-style: italic;
}

.book-details .read-more:hover {
    text-decoration: underline;
}