.book-details {
    border: none;
    padding: 10px;
    font-family: calibri;
    gap:2rem;

    margin: 20px;
}

.book-details img {
    width: 200px;
    align-self: start;
    object-fit: contain;
}

.book-details .title,
.book-details .price {
    font-weight: bold;
    font-size: 1.2rem;
}

.book-details .price {
    align-self: end;
}

.book-details .title:not(span) {
    text-transform: uppercase;
}

.book-details button {
    align-self: end;
}

.book-details h1,
.book-details h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}

.book-details h1 {
    margin-block-end: 10px;
}

.book-details span:not(.price-amount) {
    color: brown;
    font-size: 0.8rem;
    font-weight:bold;
}

.book-details .authors {
    font-size: 1rem;
    font-weight: bold;
    color: brown;
}

.book-details .authors,
.book-details .categories {
    padding: 0;
    margin: 0;
    margin-block-end: 10px;
}

span.red {
    color: red
}

span.green {
    color: green
}

.book-details h1.on-sale {
    color: firebrick;
    font-weight: bold;
    align-self: center;
    text-transform: uppercase;
    background-color: blanchedalmond;
}

.book-details .details-container {
    /* margin-inline: 50px; */
    justify-content: start;
    gap:50px;
}

.book-details .details {
    width:600px;
}