.home-page {
    padding: 10px;
    width:50vw;
    min-width: 350px;
    margin:auto;
    margin-block-start: 50px;
    font-size: 1.5rem;

    display: flex;
}

.home-page img {
    margin: 20px;
    width: 80px;
    align-self: start;
    object-fit: contain;
}

.home-page div {
    width:max-content;
}